In [1]:
from dputils.scrape import Scraper, Tag

In [2]:
def get_data(query, page=1):
    url = f'https://www.amazon.in/s?k={query}&page={page}'
    scraper = Scraper(url)
    print(scraper.url)
    target = Tag(cls='s-main-slot s-result-list s-search-results sg-row')
    items = Tag(cls='sg-col-4-of-24 sg-col-4-of-12 s-result-item s-asin sg-col-4-of-16 sg-col s-widget-spacing-small sg-col-4-of-20')
    title = Tag('h2')
    price = Tag('span', cls='a-price-whole')
    rating =Tag('span', cls='a-size-base')
    oprice = Tag('span', cls='a-offscreen')
    brand = Tag('h5')
    out = scraper.get_all(target, items, 
                    title=title, price=price,
                    rating=rating, oprice=oprice,
                    brand=brand)
    return out

In [3]:
import pandas as pd
query = 'watch'
all_data = []
for i in range(1, 50):
    data = get_data(query, i)
    all_data.extend(data)
    print(f'Page {i} done')
df = pd.DataFrame(all_data).dropna(how='all')
df.to_csv('watches.csv', index=False)

https://www.amazon.in/s?k=watch&page=1
Page 1 done
https://www.amazon.in/s?k=watch&page=2
Page 2 done
https://www.amazon.in/s?k=watch&page=3
Page 3 done
https://www.amazon.in/s?k=watch&page=4
Page 4 done
https://www.amazon.in/s?k=watch&page=5
Page 5 done
https://www.amazon.in/s?k=watch&page=6
Page 6 done
https://www.amazon.in/s?k=watch&page=7
Page 7 done
https://www.amazon.in/s?k=watch&page=8
Page 8 done
https://www.amazon.in/s?k=watch&page=9
Page 9 done
https://www.amazon.in/s?k=watch&page=10
Page 10 done
https://www.amazon.in/s?k=watch&page=11
Page 11 done
https://www.amazon.in/s?k=watch&page=12
Page 12 done
https://www.amazon.in/s?k=watch&page=13
Page 13 done
https://www.amazon.in/s?k=watch&page=14
Page 14 done
https://www.amazon.in/s?k=watch&page=15
Page 15 done
https://www.amazon.in/s?k=watch&page=16
Page 16 done
https://www.amazon.in/s?k=watch&page=17
Page 17 done
https://www.amazon.in/s?k=watch&page=18
Page 18 done
https://www.amazon.in/s?k=watch&page=19
Page 19 done
https://www.amazon.in/s?k=watch&page=20
Page 20 done
https://www.amazon.in/s?k=watch&page=21
Page 21 done
https://www.amazon.in/s?k=watch&page=22
Page 22 done
https://www.amazon.in/s?k=watch&page=23
Page 23 done
https://www.amazon.in/s?k=watch&page=24
Page 24 done
https://www.amazon.in/s?k=watch&page=25
Page 25 done
https://www.amazon.in/s?k=watch&page=26
Page 26 done
https://www.amazon.in/s?k=watch&page=27
Page 27 done
https://www.amazon.in/s?k=watch&page=28
Page 28 done
https://www.amazon.in/s?k=watch&page=29
Page 29 done
https://www.amazon.in/s?k=watch&page=30
Page 30 done
https://www.amazon.in/s?k=watch&page=31
Page 31 done
https://www.amazon.in/s?k=watch&page=32
Page 32 done
https://www.amazon.in/s?k=watch&page=33
Page 33 done
https://www.amazon.in/s?k=watch&page=34
Page 34 done
https://www.amazon.in/s?k=watch&page=35
Page 35 done
https://www.amazon.in/s?k=watch&page=36
Page 36 done
https://www.amazon.in/s?k=watch&page=37
Page 37 done
https://www.amazon.in/s?k=watch&page=38
Page 38 done
https://www.amazon.in/s?k=watch&page=39
Page 39 done
https://www.amazon.in/s?k=watch&page=40
Page 40 done
https://www.amazon.in/s?k=watch&page=41
Page 41 done
https://www.amazon.in/s?k=watch&page=42
Page 42 done
https://www.amazon.in/s?k=watch&page=43
Page 43 done
https://www.amazon.in/s?k=watch&page=44
Page 44 done
https://www.amazon.in/s?k=watch&page=45
Page 45 done
https://www.amazon.in/s?k=watch&page=46
Page 46 done
https://www.amazon.in/s?k=watch&page=47
Page 47 done
https://www.amazon.in/s?k=watch&page=48
Page 48 done
https://www.amazon.in/s?k=watch&page=49
Page 49 done

In [4]:
df

,title,price,rating,oprice,brand
0,boAt Xtend Smartwatch Batman Edition with Alex...,"1,299",4.2,"₹1,299",boAt
1,Digital Vintage Square Dial Unisex Wrist Watch...,299,4.1,₹299,CLOUDWOOD
2,boAt Flash Edition Smart Watch with Activity T...,"1,199",4.0,"₹1,199",boAt
3,Noise ColorFit Pulse Grand Smart Watch with 1....,"1,499",4.0,"₹1,499",Noise
4,Digital Sports Multi Functional Black Dial Wat...,284,3.8,₹284,Shocknshop
...,...,...,...,...,...
301,Ladies Neo-Ii Analog Blue Dial Women's Watch-N...,"4,795",4.4,"₹4,795",Titan
302,"Honor Watch GS 3 Smartwatch with 1.43"" AMOLED ...","9,999",3.9,"₹9,999",Honor
303,Analog Dial Unisex-Adult's Watch,"1,137",4.1,"₹1,137",FCUK
304,Karishma Revive Analog Silver Dial Women's Wat...,"1,720",4.2,"₹1,720",Titan
305,Octane Analog Silver Dial Men's Watch-NL1650BM...,"3,445",4.3,"₹3,445",Titan