In [1]:
student = { 
    'name' : 'Abhishek',
    'class' :  '2nd',
    'roll no' : '4',
    'marks' : '95'

}
print(student)

{'name': 'Abhishek', 'class': '2nd', 'roll no': '4', 'marks': '95'}

In [2]:
print(student['name'])
print(student['class'])

Abhishek
2nd

In [3]:
print(student.get('name'))

Abhishek

In [4]:
# add new entry and update.
student['school'] = 'C.M.S'
student['class'] = 'Xth'
print(student)

{'name': 'Abhishek', 'class': 'Xth', 'roll no': '4', 'marks': '95', 'school': 'C.M.S'}

In [5]:
series = {
    'title' : 'Jai Bhim',
    'total season': '1000',
    'OTT' : 'Amazon Prime',
    'rating': '9.9' 

}

In [6]:
for key in series:
    print(key)

title
total season
OTT
rating

In [7]:
for key in series:
    print(key,series[key])

title Jai Bhim
total season 1000
OTT Amazon Prime
rating 9.9

In [8]:
cricketer = {
    'name' : 'Abhishek',
    'age' : '26',
    'city' : 'Lucknow',
    'matches' : '150',
    'runs' : '10000'
}

In [9]:
print(cricketer)

{'name': 'Abhishek', 'age': '26', 'city': 'Lucknow', 'matches': '150', 'runs': '10000'}

In [10]:
for key in cricketer:
    print(key)

name
age
city
matches
runs

In [11]:
for value in cricketer.items():
    print(value)

('name', 'Abhishek')
('age', '26')
('city', 'Lucknow')
('matches', '150')
('runs', '10000')

In [12]:
for values in cricketer:
    print(values, cricketer[values])

name Abhishek
age 26
city Lucknow
matches 150
runs 10000

In [13]:
for values in cricketer :
    print (values, cricketer[values])

name Abhishek
age 26
city Lucknow
matches 150
runs 10000

In [14]:
# only for value print
for v in cricketer.values():
    print(v)

Abhishek
26
Lucknow
150
10000

In [15]:
print(cricketer.keys)
print (cricketer.values)
print(cricketer.items)

<built-in method keys of dict object at 0x000002602200EF00>
<built-in method values of dict object at 0x000002602200EF00>
<built-in method items of dict object at 0x000002602200EF00>